.common-input-items{
    display: flex;
    flex-direction: column;
    position: relative;
}
.common-input-field{
    background-color: transparent;
    color: gray;
    height: 40px;
    width: 250px;
    max-width: 300px ;
    min-width: 150px;
    margin: 10px;
    border-radius: 6px;
    padding-left: 15px;
    font-weight: 600;
    letter-spacing: 2px;
}
.artistLogin{
    background-color: rgb(255, 255, 255);
    height: 40px;
    width: 250px;
    max-width: 300px ;
    min-width: 150px;
    margin: 10px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 6px;
    color: rgb(218, 121, 10);
    padding-left: 15px;
    font-weight: 600;
    letter-spacing: 2px;
}
.validation-error-message{
    color: red;
    font-size: 12px;
    margin-left: 12px;
    font-style: italic;
    max-width: 250px;
    display: none;

}
.common-input-field:invalid[touched='true'] ~.validation-error-message{
    display: block;
}

.toggle-pass {
    position: absolute;
    cursor: pointer;
     font-size: x-small;
    color: rgb(128, 130, 132);
    top: 25px;
    right: 20px;
}

