.banner-page{
    width: 100vw;
    background-color: rgb(15, 15, 15);
    height:250px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner-img{
  background-image: url('../../../Assets/banner.jpg');
    width: 100vw;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
@media (max-width: 610px) {
  .banner-page {
    height: 200px;
  }
}
@media (max-width: 490px) {
  .banner-page {
    height: 150px;
  }
}
